* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

h1 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 20px;
  color: hsl(202, 55%, 16%);
}

.left {
  padding: 30px;

  @media (min-width: 768px) {
    width: 50%;
  }
}

.header {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.fw-field {
  display: flex;
  flex-direction: column;
}

.field-label {
  padding-bottom: 10px;
}

.field-hf {
  display: flex;
  flex-direction: column;
  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.field-stack {
  display: flex;
  flex-direction: column;
}

.field-radio {
  padding: 10px;
  border: 1px solid black;
}

.radio-btns {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 20px;
}
